/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-author-icon-1 {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 34px;
  height: 37px;
}
.icon-author-icon-2 {
  background-image: url(../../img/sprite.png);
  background-position: -34px 0px;
  width: 34px;
  height: 37px;
}
.icon-author-icon-3 {
  background-image: url(../../img/sprite.png);
  background-position: -68px 0px;
  width: 34px;
  height: 37px;
}
.icon-author-icon-4 {
  background-image: url(../../img/sprite.png);
  background-position: 0px -37px;
  width: 34px;
  height: 37px;
}
.icon-author-icon-5 {
  background-image: url(../../img/sprite.png);
  background-position: -34px -37px;
  width: 34px;
  height: 37px;
}
.icon-fs-icon {
  background-image: url(../../img/sprite.png);
  background-position: -68px -37px;
  width: 28px;
  height: 28px;
}
.icon-linkedin {
  background-image: url(../../img/sprite.png);
  background-position: 0px -74px;
  width: 28px;
  height: 28px;
}
.icon-pinterest-icon {
  background-image: url(../../img/sprite.png);
  background-position: -28px -74px;
  width: 28px;
  height: 28px;
}
.icon-twitter-icon {
  background-image: url(../../img/sprite.png);
  background-position: -56px -74px;
  width: 28px;
  height: 28px;
}
.icon-youtube-icon {
  background-image: url(../../img/sprite.png);
  background-position: -102px 0px;
  width: 28px;
  height: 28px;
}
