.bg-newest-products {
 background: #f4f6f5;
}

.section-space{
	padding: 112px 0 95px;
}
.title-default {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
    color: #263238;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 45px;
}
.controls-btn-box {
	text-align: center;
	margin-bottom: 45px;
}
.controls-btn-box button {
    border: none;
	background: #ffffff;
    padding: 10px 26px;
    font-size: 14px;
    font-weight: 500;
    color: #263238;
    margin: 0 3px 5px;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.5s ease-out;
    
}
.controls-btn-box button:hover {
	background: #e74c3c;
    color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    
}
.controls-btn-box>button.active{
  background: #e74c3c;
  color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.controls-btn-box>button:focus{
  outline: 0 none;
}
.current-active {
    color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    background: #e74c3c;
}
.img-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}
.single-item-grid .item-content {
    background: #ffffff;
    padding: 22px 30px;
    border: 1px solid #e7ecf2;
}
.single-item-grid {
    margin-bottom: 30px;
    transition: all 0.5s ease-out;
 }
 .single-item-grid:hover {
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}
.item-info {
	padding-bottom: 15px;
    border-bottom: 1px solid #e7ecf2;
    position: relative;
}
.item-info >.price {
    position: absolute;
    top: 0;
    right: -17px;
    z-index: 1;
    color: #263238;
    font-size: 14px;
    font-weight: 700;
}
.trending-sign {
    cursor: pointer;
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 60px solid #8bc34a;
    border-right: 60px solid transparent;
    z-index: 3;
 }
 .trending-sign i {
 	top: -50px;
    position: relative;
    left: 10px;
    color: #fff;
 }
.item-info h3 {
    color: #263238;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}
.item-info h3 a {
    color: #263238;
    transition: all 0.5s ease-out;
}
.item-info a {
	text-decoration: none;
    background-color: transparent;
}

.item-info h3 a:hover {
    color: #8bc34a;
}
.item-info span {
    color: #8bc34a;
    font-size: 14px;
}
.item-profile {
    padding-top: 20px;
    display: flex;
}
.profile-title {
    flex: 1;
    display: flex;
    align-items: center;
}
.profile-title span {
    /*margin: 0 0 0 10px;*/
    font-size: 14px;
    font-weight: 400;
    flex: 2;
}
.img-wrapper {
    flex: 1;
}
.profile-rating {
    display: flex;
    align-items: center;
	flex: 1;
    text-align: right;
}
.profile-rating ul {
	list-style: outside none none;
    margin: 0;
    padding: 0;
}
.profile-rating ul li:first-child {
    margin-left: 0;
}
.profile-rating li {
	display: inline-block;
    color: #ffa726;
    margin-left: 1px;
    font-size: 12px;
}
.profile-rating li:last-child {
	color:#333;
}

.newest-buttons-wrapper {
	text-align: center;
}
.btn-area {
	margin: 30px 0 20px;
}
.btn-newest {
	border-style: none;
	border-radius: 0 ;
	color: #333;
	background-color: #fff;
	min-height: 52px;
	min-width: 163px;
	margin: 0 6px;
    outline: none;
}

.btn-newest:hover {
    outline: none;
	background-color: #99cc33;
	color: #fff;
	transition: all 0.5s ease-out;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.btn-newest:active {
    outline: none;
}
.btn-newest:visited {
    outline: none;
}

@media screen and (min-width:320px) and (max-width:1600px) {

.item-profile {
    flex-wrap: wrap;
}
.profile-rating {
    flex: unset;
}

}

/*second section owl carousel*/
.section-space-default {
    padding: 112px 0 95px;
    background-color:#fff;
}
.trending-slide-wrapper {
    display: flex;
    flex-wrap: wrap;
}
/*section why choose style*/
.bg-prime-text {
    background: #263238;
    color: #ffffff;
}
.title-text-prime {
    font-size: 36px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    margin-bottom: 45px;
}
.choose-item {
    padding: 0 15px;
    text-align: center;
}
.item-circle {
    display: inline-block;
    margin-bottom: 25px;
    background: #ccc;
    color: #ffffff;
    font-size: 56px;
    height: 114px;
    width: 114px;
    text-align: center;
    line-height: 114px;
    border-radius: 50%;
    transition: all 0.3s ease-out;
}

.choose-item h3>a {

    color: #ffffff;
    transition: all 0.3s ease-out;
}
.choose-item h3>a:hover {
    color: #8bc34a;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.choose-item p {
    color: #999999;
}

/*section author style starting here*/

.author-bg-wrapper {
    background-color: #ccc;
    min-height: 436px;
    display: flex;
    box-shadow: -2px 3px 25px 0px #cccc;
}
.author-block {
    margin: auto;
    background-color: #99cc33;
    min-height: 216px;
    display: flex;
    align-items: center;
}
.author-text,
.author-button {
    width: 50%;
    text-align: center;
    margin: 10px 0px;
}
.author-text {
    color: #fff;
}
.author-text span{
    color: #fff;
    font-weight: bold;
}
.author-button button {
    padding: 25px 40px;
    background-color: #fff;
    outline: none;
    border-style: none;
    cursor: pointer;
    
}
.author-button button:hover {
    outline: none;
    padding: 23px 38px;
    border: 2px solid #fff;
    background-color: #99cc33;
    color: #fff;
    transition: all 0.5s ease-out;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
/*tutorials area style*/
.tutorials-item:hover {
    transition: all 0.5s ease-out;
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}
.tutorials-item img {
    width: 100%;
}
.tutorials-title {
    text-align: center;
    background: #f8f8f8;
    padding: 30px 15px 15px;
}
.tutorials-title h4 {
    font-size: 24px;
    font-weight: 600;
}

.flexible-img {
    max-width: 100%;
}
.tutorials-title a {
    color: #263238;
    transition: all 0.5s ease-out;
    text-decoration: none;
}
.tutorials-title a:hover {
    color: #8bc34a;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
 .author-block {
    flex-direction: column;
 }
 .author-text {
    margin: 10px 0;
 }
.author-bg-wrapper {
    padding: 0;
}
.author-text,
.author-button {
    margin: 10px 10px;
}

}

/*slider dots owl carousel*/
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
/*slider dots owl carousel*/
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-dot span {
    height: 16px !important;
    width: 16px !important;
}
.owl-dot span:hover {
    background-color: #8bc34a !important;
}
.active>span{
    background-color: #8bc34a !important;
} 
